body {margin:0;}
body{
background-color: #add8e6;
font-family: 'Muli', sans-serif;}
.navbar {
  overflow: hidden;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  width: 100%;
}
.navbar a.active {
    background-color: #4CAF50;

}
.navbar a:hover {
  background-color: #d8d8d8;
}


.navbar a {
  float: left;
  display: block;
  color: #676868;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.main {
  padding: 1px;
  margin-top: 30px;
  height: 1500px;
}
body {font-family: 'Muli', sans-serif;}
